In [1]:
# les dictionnaires ne sont pas triés mais renvoie un esemble de données liées entre elle par un jeu de clés valeur
# utilisation des accolades

In [4]:
mon_dictiontaire={
    # marie est la clé 15 et la donnée associé
    "Mary" : 15,
    "Tom" : 13,
    # on peut mettre des données de nature différente str, integer ou autres.
    "Julie" : "Dispensée",
    "Elise" : 18,
    "Samy" : 17,
}

In [5]:
mon_dictiontaire

{'Mary': 15, 'Tom': 13, 'Julie': 'Dispensée', 'Elise': 18, 'Samy': 17}

In [6]:
# pour accèder aux éléments du dictionnaire on met entre crochet où est attendue la clé pour renvoyer la valeur
mon_dictiontaire["Samy"]

17

In [8]:
# pour ajouter un nouveau couple de clé valeur ex "Diane" : 6,
mon_dictiontaire["Diane"]=18
print(mon_dictiontaire)

{'Mary': 15, 'Tom': 13, 'Julie': 'Dispensée', 'Elise': 18, 'Samy': 17, 'Diane': 18}

In [9]:
# pour changer la valeur d'une clé il suffit de lui réasssigner une nouvelle valeur
mon_dictiontaire["Julie"]=13
print(mon_dictiontaire)

{'Mary': 15, 'Tom': 13, 'Julie': 13, 'Elise': 18, 'Samy': 17, 'Diane': 18}

In [10]:
# toutes les clés sont uniques il ne peut y avoir plusieurs "Samy" ou autres
# pour supprimer une clé
del mon_dictiontaire["Julie"]
print(mon_dictiontaire)

{'Mary': 15, 'Tom': 13, 'Elise': 18, 'Samy': 17, 'Diane': 18}

In [12]:
# parcourir les dictionnaires méthode spécifique keys associée à sa structure de données
# elle renvoie l'ensemble des clés du dictionnaire
mon_dictiontaire.keys()

dict_keys(['Mary', 'Tom', 'Elise', 'Samy', 'Diane'])

In [14]:
mon_dictiontaire.values()
# grace à values on revoie l'ensemble des valeurs du dictionnaires

dict_values([15, 13, 18, 17, 18])

In [15]:
for cle in mon_dictiontaire.keys():
    print(cle)

Mary
Tom
Elise
Samy
Diane

In [16]:
for valeur in mon_dictiontaire.values():
    print(valeur)

15
13
18
17
18

In [17]:
# renvoie une liste qui renvoie des tuples, les tuples sont pratiques pour la multi assignation
# tableau en plusieurs dimensions ?
mon_dictiontaire.items()

dict_items([('Mary', 15), ('Tom', 13), ('Elise', 18), ('Samy', 17), ('Diane', 18)])

In [18]:
# pour parcourir mon dictionnaire par clés et valeurs
for cle, valeur in mon_dictiontaire.items():
    print(cle, valeur)

Mary 15
Tom 13
Elise 18
Samy 17
Diane 18

In [19]:
########### Exercices Dictionnaires ###########

In [25]:
### créer dico

notes_eleves={
    "Marie" : 15, 
    "Samuel" : 17, 
    "Gaston" : 12, 
    "Fred" : 10,
    "Mae" : 5,
    "Julie" : 15, 
    "Zoe" : 7,
    "Claire" : 20, 
    "Chloe" : 8,
    "Julien" : 14, 
    "Gaël" : 9, 
    "Samia" : 15, 
    "Omar" : 11, 
    "Gabriel" : 16, 
    "Manon" :2
}

In [23]:
# avec cette méthode values() une liste sort bien mais dan un objet "dict_values" qu'il faut relister avec la méthode list
notes_eleves.values()

dict_values([15, 17, 12, 10, 5, 15, 7, 20, 8, 14, 9, 15, 11, 16, 2])

In [24]:
list(notes_eleves.values())

[15, 17, 12, 10, 5, 15, 7, 20, 8, 14, 9, 15, 11, 16, 2]

In [26]:
# Quelle est la moyenne de la classe
# ft mean numpy
help(numpy.mean)

NameError: name 'numpy' is not defined

In [29]:
import numpy
## help(numpy.mean)

In [36]:
array_notes=list(notes_eleves.values())
numpy.mean(array_notes)

11.733333333333333

In [37]:
# afficher le nombre d'élèves dans la classe 
list(notes_eleves.keys())

['Marie',
 'Samuel',
 'Gaston',
 'Fred',
 'Mae',
 'Julie',
 'Zoe',
 'Claire',
 'Chloe',
 'Julien',
 'Gaël',
 'Samia',
 'Omar',
 'Gabriel',
 'Manon']

In [61]:
# nb_eleves=list(notes_eleves.keys())
 # len(nb_eleves)

# correction 
nb_eleves=len(notes_eleves)
print(nb_eleves)

15

In [45]:
# 4. Combien d’élèves ont une note strictement supérieure à la moyenne ?

## mes_notes=list(notes_eleves.values())
## notes_10_et_plus=numpy.asarray(mes_notes)
## len(notes_10_et_plus[notes_10_et_plus>10])

array_notes=list(notes_eleves.values())
notes_10_et_plus=numpy.asarray(array_notes)
len(notes_10_et_plus[notes_10_et_plus > 11.733333333333333])

8

In [66]:
# correction
moyenne_generale=11.733333333333333
eleves_avec_notes_10_et_plus=0
for valeur in notes_eleves.values():
    if valeur > moyenne_generale:
        eleves_avec_notes_10_et_plus=eleves_avec_notes_10_et_plus+1
print("Le nombre d'élèves avec une note supérieure à la moyenne générale, note supérieure à %.2f est de %d élèves" % (moyenne_generale, eleves_avec_notes_10_et_plus))

Le nombre d'élèves avec une note supérieure à la moyenne générale, note supérieure à 11.73 est de 8 élèves

In [46]:
# 5. Quel est le prénom du meilleur élève de la classe ?

array_cle_valeur=list(notes_eleves.items())
array_cle_valeur

[('Marie', 15),
 ('Samuel', 17),
 ('Gaston', 12),
 ('Fred', 10),
 ('Mae', 5),
 ('Julie', 15),
 ('Zoe', 7),
 ('Claire', 20),
 ('Chloe', 8),
 ('Julien', 14),
 ('Gaël', 9),
 ('Samia', 15),
 ('Omar', 11),
 ('Gabriel', 16),
 ('Manon', 2)]

In [58]:
# 5. Quel est le prénom du meilleur élève de la classe ?

meilleure_note=max(notes_eleves.values())

meilleur_eleve=[key for key in notes_eleves if notes_eleves[key]==meilleure_note]

print("le meilleur élève est : " + str(meilleur_eleve))

le meilleur élève est : ['Claire']

In [68]:
### Correction 5. Quel est le prénom du meilleur élève de la classe ?

meilleure_note=max(notes_eleves.values())

for prenom, note in notes_eleves.items():
    if note == meilleure_note:
        print(prenom)

Claire

In [59]:
# 6. Combien d’élèves ont un prénom avec strictement moins de 4 lettres ?
compteur_nom_eleves=0
noms_moins_4_lettres=(notes_eleves.keys())
for compteur in 
    print(sum(noms_moins_4_lettres) + " est le nombre d'élèves dont le nom est de moins de qautre lettres.")

TypeError: '<' not supported between instances of 'dict_keys' and 'int'

In [70]:
### correction 6. Combien d’élèves ont un prénom avec strictement moins de 4 lettres ?
nombre_eleves=0
for prenom in notes_eleves.keys():
    if len(prenom) < 4:
        nombre_eleves=nombre_eleves+1
print(nombre_eleves)

2

In [72]:
### correction 7. Afficher le prénom des élèves qui ont une note paire (multiple de 2).

for prenom,note in notes_eleves.items():
    if note %2 ==0:
        print(prenom, note)

Gaston 12
Fred 10
Claire 20
Chloe 8
Julien 14
Gabriel 16
Manon 2